/* Chat.css */

/* Global Styles */
body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;


}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #e5ddd5;
}

.chat-box {
  width: 100%;
  max-width: 600px;
  height: 90%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message-box {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #efeae2;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  max-width: 60%;
  display: inline-block;
  border-radius: 7px;
  word-wrap: break-word;
}

.message.self {
  background-color: #dcf8c6;
  align-self: flex-end;
  border-top-right-radius: 0;
}

.message.other {
  background-color: #ffffff;
  align-self: flex-start;
  border-top-left-radius: 0;
}

.message .time {
  font-size: 0.8rem;
  color: gray;
  margin-top: 5px;
  display: block;
  text-align: right;
}

.active-users {
  padding: 10px;
  background-color: #25d366;
  color: white;
  font-size: 1rem;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.active-users h2 {
  margin: 0;
}

.active-users ul {
  list-style: none;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.username-form {
  padding: 20px;
}

form {
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  align-items: center;
}

.input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
  outline: none;
}

.button {
  background-color: #128c7e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.emoji-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
}

form .emoji-picker {
  position: absolute;
  bottom: 60px;
}

.chat-header {
  background-color: #128c7e;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
}
